# OpenAI GPT (all flavors)
#vendor: openai
OPENAI_API_KEY=OPENAI_API_KEY

# Google Gemini
#vendor: gemini
GOOGLE_API_KEY=GOOGLE_API_KEY

# Anthropic Claude
# vendor: claude
ANTHROPIC_API_KEY=your-anthropic-api-key-here

# Alibaba Qwen/通义千问 (DashScope)
# vendor: qwen
DASHSCOPE_API_KEY=DASHSCOPE_API_KEY

# DeepSeek api
# vendor: deepseek
DEEPSEEK_API_KEY=DEEPSEEK_API_KEY


# Optional: other custom model/tool keys
# CUSTOM_API_KEY=your-custom-key